{% extends "bootstrap/base.html" %}
{% block content %}
{% include "header.html" %}

<!-- Page Header -->
<header class="masthead"
        style="background-image: url({{ background_image }})">
    <!--        style="background-image: url('https://images.unsplash.com/photo-1470092306007-055b6797ca72?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80')">-->
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>{{ title }}</h1>
                    <span class="subheading">{{ subtitle }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
{% set hr_valid = False %}
{% set valid = True %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% with messages = get_flashed_messages() %}
            {% for message in messages %}
            {% if message != 'This user does not exist.' and message != 'Could not find a user with the specified ID.' and message != 'No support email specified, unable to send message.' and message != 'Malformed page request for user profile.' and message != "Could not find a post with the specified ID." and message != "Could not find a post with the specified ID." and message != 'Could not find a comment with the specified ID.' and message != 'The author could not be found.' %}
            <div class="alert alert-success" role="alert" style="margin-bottom: 50px;">
                <center>
                    <strong>{{ message }}</strong>
                </center>
            </div>
            {% else %}
            <div class="alert alert-danger" role="alert" style="margin-bottom: 50px;">
                <center>
                    <strong>{{ message }}</strong>
                </center>
            </div>
            {% endif %}
            {% endfor %}
            {% endwith %}
            {% if mode != 'users' %}
            {% if deleted != "True" %}
            {% if settings != True %}
            {% if posts_count != 0 %}
            {% for post in all_posts %}
            <div class="post-preview">
                <a href="{{ url_for('show_post', post_id=post.id) }}">
                    <h2 class="post-title">
                        {{post.title}}
                    </h2>
                    <h3 class="post-subtitle">
                        {{post.subtitle}}
                    </h3>
                </a>
                <p class="post-meta">Posted by
                    <a href="{{ url_for('user_page', user_id=post.author.id) }}">{{post.author.name}}</a>
                    on {{post.date}}
            </div>
            <hr>
            {% endfor %}
            {% else %}
            {% set valid = False %}
            {% for i in range(3): %}
            <div class="post-preview">
                <a href="#">
                    <h2 class="post-title">
                        Nothing to show here.
                    </h2>
                    <h3 class="post-subtitle">
                        Looks like there's nothing here.
                    </h3>
                </a>
                <p class="post-meta">
                    <a href="#">You've reached a dead end, my friend.</a>
                </p>
            </div>
            <hr>
            {% endfor %}
            {% endif %}
            {% else %}
            {% for error_name, error in errors.items() %}
            <div class="alert alert-danger" role="alert" style="margin-bottom: 50px;">
                <center>
                    <strong>{{ error_name }}</strong> | {{ error }}
                </center>
            </div>
            {% endfor %}
            {% for option in options %}
            <div class="post-preview">
                <a href="{{ url_for(options[option]['func']) }}">
                    <h2 class="post-title">
                        {{ option }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ options[option]["desc"] }}
                    </h3>
                </a>
                <p class="post-meta">
                    <a href="#"></a>
                </p>
            </div>
            <hr>
            {% endfor %}
            {% endif %}
            {% else %}
            {% if posts_count != 0 %}
            {% for post in deleted_posts %}
            <div class="post-preview">
                <a href="{{ url_for('show_post', post_id=post[0], deleted=True) }}">
                    <h2 class="post-title">
                        {{post[1]["post_title"]}}
                    </h2>
                    <h3 class="post-subtitle">
                        {{post[1]["subtitle"]}}
                    </h3>
                </a>
                <p class="post-meta">Posted by
                    <a href="{{ url_for('user_page', user_id=post[1]['author_id']) }}">{{post[1]["author"]}}</a>
                    on {{post[1]["date"]}}
            </div>
            <hr>
            {% endfor %}
            {% else %}
            {% set valid = False %}
            {% for i in range(3): %}
            <div class="post-preview">
                <a href="#">
                    <h2 class="post-title">
                        Nothing to show here.
                    </h2>
                    <h3 class="post-subtitle">
                        Looks like there's nothing here.
                    </h3>
                </a>
                <p class="post-meta">
                    <a href="#">You've reached a dead end, my friend.</a>
                </p>
                <hr>
                {% endfor %}
                {% endif %}
                {% endif %}
                {% else %}
                {% if posts_count != 0 %}
                {% for user in results %}
                <div class="post-preview">
                    <a href="{{ url_for('user_page', user_id=user.id) }}">
                        <h2 class="post-title">
                            {{user.name}}
                        </h2>
                    </a>
                    <span class="post-meta">
                        Joined {{ user.join_date }}
                    </span>
                    <p class="post-meta" style="margin-top: 15px;">
                        {% set taken = False %}
                        {% if user.admin == True %}Website Administrator {% set taken = True %}{% endif %}
                        {% if taken == False and user.author == True %}Author{% endif %}
                    </p>
                </div>
                <hr>
                {% endfor %}
                {% else %}
                {% set valid = False %}
                {% for i in range(3): %}
                <div class="post-preview">
                    <a href="#">
                        <h2 class="post-title">
                            Nothing to show here.
                        </h2>
                        <h3 class="post-subtitle">
                            Looks like there's nothing here.
                        </h3>
                    </a>
                    <p class="post-meta">
                        <a href="#">You've reached a dead end, my friend.</a>
                    </p>
                    <hr>
                    {% endfor %}
                    {% endif %}
                    {% endif %}


                    <!-- New Post -->
                    {% if settings != True %}
                    <div class="clearfix">
                        {% if current_id == 1 %}
                        {% if deleted != "True" %}
                        {% if current_user.is_authenticated %}
                        {% if search != True %}
                        {% set hr_valid = True %}
                        <div class="dropdown">
                            <button class="btn btn-primary float-left" data-toggle="dropdown" type="button">
                                PANEL
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                {% if current_user.admin == True or current_user.author == True %}
                                <li><a href="{{ url_for('add_post') }}"><h4>Add Post</h4></a></li>
                                <li><a href="{{ url_for('deleted_posts') }}"><h4>Recover Deleted Posts</h4></a></li>
                                {% endif %}
                                {% if current_user.admin == True %}
                                <li><a href="{{ url_for('settings') }}"><h4>Settings</h4></a></li>
                                {% endif %}
                                <li><a href="{{ url_for('user_page', user_id=current_user.id) }}"><h4>My Profile</h4>
                                </li>
                            </ul>
                            {% endif %}
                            {% endif %}
                            {% endif %}
                            {% endif %}
                            {% if valid %}
                            {% if posts_count >= 3 %}
                            {% set hr_valid = True %}
                            {% if deleted != "True" %}
                            <a class="btn btn-primary float-right" href="{{ url_for('page', page_id=current_id + 1) }}">NEXT
                                PAGE
                                &rarr;</a>
                            {% else %}
                            <a class="btn btn-primary float-right"
                               href="{{ url_for('page', page_id=current_id + 1, deleted=True) }}">NEXT
                                PAGE
                                &rarr;</a>
                            {% endif %}
                            {% endif %}
                            {% endif %}
                            {% if current_id > 1 %}
                            {% set hr_valid = True %}
                            {% if deleted != "True" %}
                            <a class="btn btn-primary float-left" href="{{ url_for('page', page_id=current_id - 1) }}">&larr;
                                PREVIOUS PAGE</a>
                            {% else %}
                            <a class="btn btn-primary float-left"
                               href="{{ url_for('page', page_id=current_id - 1, deleted=True) }}">&larr;
                                PREVIOUS PAGE</a>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% if hr_valid %}
            <hr>
            {% endif %}
            {% endif %}

            {% include "footer.html" %}
            {% endblock %}